squads/automation/templates/tmpl-multi-channel-sender.json
{
  "name": "Template: Multi-Channel Sender",
  "nodes": [
    {
      "id": "trigger",
      "name": "Manual Trigger",
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [250, 300],
      "parameters": {}
    },
    {
      "id": "prepare-message",
      "name": "Prepare Message",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [450, 300],
      "parameters": {
        "mode": "manual",
        "assignments": {
          "assignments": [
            {
              "id": "assign-1",
              "name": "recipient",
              "value": "={{ $json.recipient }}",
              "type": "string"
            },
            {
              "id": "assign-2",
              "name": "channel",
              "value": "={{ $json.channel }}",
              "type": "string"
            },
            {
              "id": "assign-3",
              "name": "subject",
              "value": "={{ $json.subject }}",
              "type": "string"
            },
            {
              "id": "assign-4",
              "name": "body",
              "value": "={{ $json.body }}",
              "type": "string"
            }
          ]
        }
      }
    },
    {
      "id": "route-channel",
      "name": "Route by Channel",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3,
      "position": [650, 300],
      "parameters": {
        "rules": {
          "rules": [
            {
              "outputKey": "email",
              "conditions": {
                "conditions": [
                  {
                    "leftValue": "={{ $json.channel }}",
                    "rightValue": "email",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ]
              }
            },
            {
              "outputKey": "slack",
              "conditions": {
                "conditions": [
                  {
                    "leftValue": "={{ $json.channel }}",
                    "rightValue": "slack",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ]
              }
            },
            {
              "outputKey": "whatsapp",
              "conditions": {
                "conditions": [
                  {
                    "leftValue": "={{ $json.channel }}",
                    "rightValue": "whatsapp",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ]
              }
            }
          ],
          "fallbackOutput": {
            "outputKey": "unknown"
          }
        }
      }
    },
    {
      "id": "send-email",
      "name": "Send Email",
      "type": "n8n-nodes-base.emailSend",
      "typeVersion": 2.1,
      "position": [850, 150],
      "parameters": {
        "fromEmail": "={{$env.SMTP_FROM}}",
        "toEmail": "={{ $json.recipient }}",
        "subject": "={{ $json.subject }}",
        "emailType": "text",
        "message": "={{ $json.body }}",
        "options": {}
      }
    },
    {
      "id": "send-slack",
      "name": "Send Slack",
      "type": "n8n-nodes-base.slack",
      "typeVersion": 2.2,
      "position": [850, 300],
      "parameters": {
        "resource": "message",
        "operation": "post",
        "channel": "={{ $json.recipient }}",
        "text": "={{ $json.body }}",
        "otherOptions": {}
      }
    },
    {
      "id": "send-whatsapp",
      "name": "Send WhatsApp",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [850, 450],
      "parameters": {
        "method": "POST",
        "url": "={{$env.EVOLUTION_API_URL}}/message/sendText/{{$env.EVOLUTION_INSTANCE}}",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "number",
              "value": "={{ $json.recipient }}"
            },
            {
              "name": "text",
              "value": "={{ $json.body }}"
            }
          ]
        },
        "options": {}
      }
    },
    {
      "id": "log-unknown",
      "name": "Log Unknown Channel",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [850, 600],
      "parameters": {
        "mode": "manual",
        "assignments": {
          "assignments": [
            {
              "id": "assign-1",
              "name": "error",
              "value": "Unknown channel",
              "type": "string"
            }
          ]
        }
      }
    },
    {
      "id": "merge-results",
      "name": "Merge Results",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3,
      "position": [1050, 300],
      "parameters": {
        "mode": "append"
      }
    },
    {
      "id": "log-result",
      "name": "Log Result",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [1250, 300],
      "parameters": {
        "mode": "manual",
        "assignments": {
          "assignments": [
            {
              "id": "assign-1",
              "name": "sentAt",
              "value": "={{ $now.toISO() }}",
              "type": "string"
            },
            {
              "id": "assign-2",
              "name": "status",
              "value": "sent",
              "type": "string"
            }
          ]
        }
      }
    }
  ],
  "connections": {
    "Manual Trigger": {
      "main": [
        [
          {
            "node": "Prepare Message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare Message": {
      "main": [
        [
          {
            "node": "Route by Channel",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Route by Channel": {
      "main": [
        [
          {
            "node": "Send Email",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Send Slack",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Send WhatsApp",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Log Unknown Channel",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send Email": {
      "main": [
        [
          {
            "node": "Merge Results",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send Slack": {
      "main": [
        [
          {
            "node": "Merge Results",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send WhatsApp": {
      "main": [
        [
          {
            "node": "Merge Results",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge Results": {
      "main": [
        [
          {
            "node": "Log Result",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "meta": {
    "templateId": "tmpl-multi-channel-sender",
    "templateVersion": "1.0.0",
    "description": "Send messages via email, Slack, or WhatsApp"
  }
}
