squads/automation/templates/tmpl-ai-classifier.json
{
  "name": "Template: AI Classifier",
  "nodes": [
    {
      "id": "trigger",
      "name": "Manual Trigger",
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [250, 300],
      "parameters": {}
    },
    {
      "id": "ai-agent",
      "name": "AI Classifier Agent",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.7,
      "position": [450, 300],
      "parameters": {
        "options": {
          "systemMessage": "You are a classification agent. Your job is to analyze the input and classify it into one of the following categories: {{CATEGORIES}}.\n\nRules:\n1. Return ONLY the category name, nothing else\n2. If uncertain, choose the closest match\n3. Be consistent in your classifications"
        },
        "text": "={{ $json.textToClassify }}",
        "hasOutputParser": true
      }
    },
    {
      "id": "llm-openai",
      "name": "OpenAI Chat Model",
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [450, 500],
      "parameters": {
        "model": "gpt-4o-mini",
        "options": {
          "temperature": 0.1,
          "maxTokens": 50
        }
      }
    },
    {
      "id": "output-parser",
      "name": "Structured Output Parser",
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.2,
      "position": [650, 500],
      "parameters": {
        "schemaType": "manual",
        "jsonSchema": "{\n  \"type\": \"object\",\n  \"properties\": {\n    \"category\": {\n      \"type\": \"string\",\n      \"description\": \"The classification category\"\n    },\n    \"confidence\": {\n      \"type\": \"string\",\n      \"enum\": [\"high\", \"medium\", \"low\"],\n      \"description\": \"Confidence level of the classification\"\n    }\n  },\n  \"required\": [\"category\", \"confidence\"]\n}"
      }
    },
    {
      "id": "route-by-category",
      "name": "Route by Category",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3,
      "position": [650, 300],
      "parameters": {
        "rules": {
          "rules": [
            {
              "outputKey": "category_a",
              "conditions": {
                "conditions": [
                  {
                    "leftValue": "={{ $json.output.category }}",
                    "rightValue": "Category A",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ]
              }
            },
            {
              "outputKey": "category_b",
              "conditions": {
                "conditions": [
                  {
                    "leftValue": "={{ $json.output.category }}",
                    "rightValue": "Category B",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ]
              }
            }
          ],
          "fallbackOutput": {
            "outputKey": "other"
          }
        },
        "options": {}
      }
    },
    {
      "id": "handle-category-a",
      "name": "Handle Category A",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [850, 200],
      "parameters": {}
    },
    {
      "id": "handle-category-b",
      "name": "Handle Category B",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [850, 300],
      "parameters": {}
    },
    {
      "id": "handle-other",
      "name": "Handle Other",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [850, 400],
      "parameters": {}
    }
  ],
  "connections": {
    "Manual Trigger": {
      "main": [
        [
          {
            "node": "AI Classifier Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Classifier Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Structured Output Parser": {
      "ai_outputParser": [
        [
          {
            "node": "AI Classifier Agent",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "AI Classifier Agent": {
      "main": [
        [
          {
            "node": "Route by Category",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Route by Category": {
      "main": [
        [
          {
            "node": "Handle Category A",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Handle Category B",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Handle Other",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "meta": {
    "templateId": "tmpl-ai-classifier",
    "templateVersion": "1.0.0",
    "description": "AI-powered classification with routing"
  }
}
