squads/automation/templates/tmpl-data-enricher.json
{
  "name": "Template: Data Enricher",
  "nodes": [
    {
      "id": "trigger",
      "name": "Manual Trigger",
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [250, 300],
      "parameters": {}
    },
    {
      "id": "split-items",
      "name": "Split Items",
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [450, 300],
      "parameters": {
        "batchSize": 10,
        "options": {
          "reset": false
        }
      }
    },
    {
      "id": "enrich-api-1",
      "name": "Enrich: Company Data",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [650, 200],
      "parameters": {
        "method": "GET",
        "url": "https://api.example.com/company",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "domain",
              "value": "={{ $json.domain }}"
            }
          ]
        },
        "options": {
          "timeout": 10000
        }
      }
    },
    {
      "id": "enrich-api-2",
      "name": "Enrich: Contact Data",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [650, 400],
      "parameters": {
        "method": "GET",
        "url": "https://api.example.com/contact",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "email",
              "value": "={{ $json.email }}"
            }
          ]
        },
        "options": {
          "timeout": 10000
        }
      }
    },
    {
      "id": "merge-enrichments",
      "name": "Merge Enrichments",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3,
      "position": [850, 300],
      "parameters": {
        "mode": "combine",
        "mergeByFields": {
          "values": [
            {
              "field1": "id",
              "field2": "id"
            }
          ]
        },
        "options": {}
      }
    },
    {
      "id": "transform-result",
      "name": "Transform Result",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [1050, 300],
      "parameters": {
        "mode": "manual",
        "assignments": {
          "assignments": [
            {
              "id": "assign-1",
              "name": "enrichedAt",
              "value": "={{ $now.toISO() }}",
              "type": "string"
            },
            {
              "id": "assign-2",
              "name": "enrichmentSources",
              "value": "=[\"company_api\", \"contact_api\"]",
              "type": "array"
            }
          ]
        },
        "options": {
          "includeBinary": false
        }
      }
    },
    {
      "id": "wait-rate-limit",
      "name": "Wait (Rate Limit)",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [1050, 450],
      "parameters": {
        "resume": "timeInterval",
        "amount": 1,
        "unit": "seconds"
      }
    },
    {
      "id": "loop-back",
      "name": "Loop Back",
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [1250, 300],
      "parameters": {
        "batchSize": 10,
        "options": {
          "reset": false
        }
      }
    }
  ],
  "connections": {
    "Manual Trigger": {
      "main": [
        [
          {
            "node": "Split Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split Items": {
      "main": [
        [
          {
            "node": "Enrich: Company Data",
            "type": "main",
            "index": 0
          },
          {
            "node": "Enrich: Contact Data",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Loop Back",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Enrich: Company Data": {
      "main": [
        [
          {
            "node": "Merge Enrichments",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Enrich: Contact Data": {
      "main": [
        [
          {
            "node": "Merge Enrichments",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Merge Enrichments": {
      "main": [
        [
          {
            "node": "Transform Result",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Transform Result": {
      "main": [
        [
          {
            "node": "Wait (Rate Limit)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait (Rate Limit)": {
      "main": [
        [
          {
            "node": "Split Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "meta": {
    "templateId": "tmpl-data-enricher",
    "templateVersion": "1.0.0",
    "description": "Enrich data from multiple APIs with rate limiting"
  }
}
